img{
    height: 350px;
    width: 350px;
    margin-top: 50px;
    margin-left: 100px;
    box-shadow: 5px 5px 15px 2px black;
    border-radius: 20px;
    
}
h1{
    color:black;
    margin-top: 35px;
    padding: 20px;
    width: 300px;
    box-shadow: 5px 5px 15px 1px black;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    
}
*{
    background-color:red;
}